main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

}

.main--pic-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #180f0f7d; */
  width: 80%;
  border-radius: 30px;
}

@media screen and (max-width: 400px) {
  main {
    width: 100%;
  }

  .main--pic-grid {
    width: 100%;
  }

}